{% extends "index.html" %}

{% block body %}

{% if transact %}

<div class='d-flex flex my-5 flex-column align-items-center'>
    <h1 class='text-success fw-bold'>Success!</h1>
    <p class='fw-bold '>Book successfully returned by {{member.name}}!</p>
    <a href="/" class='btn btn-primary'>Go to home</a>
</div>

{% else %}

<div class='container d-flex justify-content-center my-5'>

    <div class='container border rounded'>
        <div class="head bg-secondary rounded p-3 text-light">
            <h1>{{book.title}}</h1>
            <div class='d-flex justify-content-between'>
                <div>
                    <p>Author</p>
                    <h5 class='text-black'>{{book.author}}</h5>
                </div>
                <div>
                    <p>Publisher</p>
                    <h5 class='text-black'>{{book.publisher}}</h5>
                </div>
                <div>
                    <p>Pages</p>
                    <h5 class='text-black'>{{book.page_count}}</h5>
                </div>
                <div>
                    <p>In stock</p>
                    <h5 class='text-black'>{{book.stock_count}}</h5>
                </div>
            </div>
        </div>
        <div class="form my-5">
            <form action="/returnbook/{{book.id}}/" method='post'> {% csrf_token %}
                <div class='d-flex my-4 align-items-center'>
                    <div class='align-items-center d-flex'>
                        <label class='fw-bold mx-2' for="">Select a member</label>
                        <select name='memberId' class="form-select" aria-label="Default select example">
                            <option selected>choose a member</option>
                            {% for member in members %}
                                <option value="{{member.id}}">{{member.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class='btn btn-primary'>Submit</button>
            </form>
        </div>

    </div>

</div>

{% endif %}


{% endblock body %}